.pai{
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2.125rem;
    flex-wrap: wrap;
  }
  
/*   *{
    outline: 1px solid red;
  } */
  
  @media only screen and (max-width: 979px){
    .pai{
      padding-left: 25px;
    }
  }